@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Domain.DomainModels.Dto.InstructorDto


<h1>Add instructor</h1>

<h4>Choose an instructor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddInstructor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InstructorId" class="control-label"></label>
                @Html.DropDownListFor(x => Model.InstructorId,
                         new SelectList(Model.AllInstructors, "Id", "FirstName"),
                         new { @class = "form-control" })
                <span asp-validation-for="InstructorId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CourseId" />
            <div class="form-group">
                <input type="submit" value="Add Instructor" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Details" asp-route-id="@Model.CourseId">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

