@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center justify-content-center flex-column" style="height:600px;">
    <h1 class="display-4">Welcome To Our Online Education Platform!</h1>
    <h3>Feel free to make a user and enrolle some students to your courses</h3>
</div>
