@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Domain.DomainModels.Dto.EnrollmentDto



<h1>Add Enrollment</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEnrollment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                @Html.DropDownListFor(x => Model.CourseId,
                         new SelectList(Model.AllCourses, "Id", "Title"),
                         new { @class = "form-control" })
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfCourseEnrollment" class="control-label"></label>
                <input asp-for="DateOfCourseEnrollment" class="form-control" />
                <span asp-validation-for="DateOfCourseEnrollment" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="StudentId" />
            <div class="form-group mt-3">
                <input type="submit" value="Add Enrollment" class="btn btn-primary" />
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@Model.StudentId">Back to Student</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
