@model List<Domain.DomainModels.Student>

<ul class="list-group list-group-flush">
    @foreach(var student in Model)
    {
        <a class="list-group-item ps-4" asp-action="Details" asp-controller="Students" asp-route-id="@student.Id">@student.FirstName @student.LastName</a>
    }
</ul>