@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Import Courses</h3>

<form asp-controller="Courses" asp-action="ImportCourses" method="post" enctype="multipart/form-data">
    <div class="form-group mt-2">
        <input type="file" name="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-2">Import Excel</button>
</form>