@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center justify-content-center flex-column" style="height:600px;">
    <h1 class="display-4">Welcome To Our Online Education Admin Platform!</h1>
    <h3>Feel free to import/export students and view the Book Store.</h3>
</div>
